@charset "UTF-8";
/*-----Paleta-de colores---*/
/*Listas*/
/*Fuentes*/
/*---Extend---*/
.encabezado .div__title, .sub-titulo {
  display: flex;
  flex-direction: column; }

/*----------Grillas---------*/
.grid__generico {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "header nav nav" "main main main" "footer footer footer"; }
  .grid__generico .encabezado {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    background-color: white;
    /**/
    grid-area: header; }
  .grid__generico .navegador {
    grid-area: nav; }
  .grid__generico .principal__generico {
    background-color: beige;
    grid-area: main; }
  .grid__generico .pie__generico {
    background-color: black;
    grid-area: footer; }

.accordion-body {
  color: black; }

/*------Variables--------*/
/*------Media-Query------*/
/*--------Responsive----*/
@media screen and (max-width: 1100px) {
  .webs {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 400px) {
  .web1 {
    transform: scale(0.7); }
  .web2 {
    transform: scale(0.7); }
  .web3 {
    transform: scale(0.7); } }

@media screen and (max-width: 880px) {
  .navegador {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 1035px) {
  .servicios__ad {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 992px) {
  .grid__generico {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; } }

body {
  width: 100%;
  height: 80vh;
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.encabezado .div__title .acweb {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: black;
  font-size: 80px;
  margin-bottom: 5px; }

.encabezado .div__title .desa__web {
  color: black;
  text-align: left;
  text-decoration: underline;
  font-size: 15px; }

/*---------Navegador--------*/
.navegador {
  display: flex;
  align-items: flex-end; }
  .navegador .navbar-collapse {
    display: flex;
    justify-content: right; }

.nav__font {
  font-size: 15px; }

/*-----Paleta-de colores---*/
/*----------Grillas---------*/
.grid__generico {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "header nav nav" "main main main" "footer footer footer"; }
  .grid__generico .encabezado {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    background-color: white;
    /**/
    grid-area: header; }
  .grid__generico .navegador {
    grid-area: nav; }
  .grid__generico .principal__generico {
    background-color: beige;
    grid-area: main; }
  .grid__generico .pie__generico {
    background-color: black;
    grid-area: footer; }

.accordion-body {
  color: black; }

/*------Variables--------*/
/*------Media-Query------*/
/*--------Responsive----*/
@media screen and (max-width: 1100px) {
  .webs {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 400px) {
  .web1 {
    transform: scale(0.7); }
  .web2 {
    transform: scale(0.7); }
  .web3 {
    transform: scale(0.7); } }

@media screen and (max-width: 880px) {
  .navegador {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 1035px) {
  .servicios__ad {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 992px) {
  .grid__generico {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; } }

/*Listas*/
/*Fuentes*/
/*---Extend---*/
.encabezado .div__title, .sub-titulo {
  display: flex;
  flex-direction: column; }

/*-------Main-Index--------*/
.sub-titulo {
  align-items: center;
  background-color: black;
  margin-bottom: 25px; }
  .sub-titulo .sub__titulo_h3 {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 20px;
    margin-bottom: 25px;
    margin-top: 25px; }
  .sub-titulo .sub__titulo_h4 {
    font-style: italic;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center; }

.web__necesitas {
  color: black;
  text-align: center;
  font-size: 35px;
  border-radius: 20px;
  margin-top: 25px;
  margin-bottom: 25px; }

/*-----Card-Index----------*/
.webs {
  display: flex;
  justify-content: space-around; }
  .webs .card {
    display: flex;
    text-align: center;
    background-color: beige;
    margin-bottom: 20px;
    border-radius: 30px 30px 0 0;
    box-shadow: 15px 15px 30px #191919, -15px -15px 30px #3c3c3c; }
    .webs .card:hover {
      transform: scale(1.05);
      transition: 2s; }

/*----------Pie-Main----------*/
.pie__main {
  height: auto;
  background-color: white;
  color: white;
  text-align: left;
  width: auto; }
  .pie__main .preguntas__frecuentes h5 {
    margin-bottom: 20px;
    color: black;
    text-align: left;
    margin-left: 5px; }

/*---------------------------------*/
/*-----------Main-Planes------*/
.informacion {
  display: flex;
  justify-content: space-around; }
  .informacion div {
    width: 150px;
    height: 70px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 25px;
    margin-top: 100px;
    margin-bottom: 50px; }

.paginas__planes {
  text-decoration: none; }
  .paginas__planes .diseño__web {
    text-align: center;
    margin-bottom: 20px; }
  .paginas__planes img {
    width: 30px; }
  .paginas__planes .planes section {
    display: flex; }
    .paginas__planes .planes section .planes section div h3 {
      font-size: 30px;
      text-align: left; }

.diseño__premium {
  display: flex;
  text-align: center;
  margin-bottom: 20px; }

/*-------Seo---Mk-----*/
.pie__main_premium {
  height: auto; }
  .pie__main_premium section p {
    text-align: center;
    font-size: 30px;
    margin-top: 40px; }
  .pie__main_premium section h4 {
    text-align: center;
    text-decoration: underline;
    margin-top: 50px; }
  .pie__main_premium .servicios__ad {
    display: flex;
    justify-content: center;
    margin-top: 50px; }
    .pie__main_premium .servicios__ad .motor__busqueda {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 25%; }
      .pie__main_premium .servicios__ad .motor__busqueda div {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .pie__main_premium .servicios__ad .motor__busqueda div img {
          width: 150px; }
  .pie__main_premium .google__n {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
    margin-right: 40px;
    margin-left: 40px; }
    .pie__main_premium .google__n div {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .pie__main_premium .google__n div img {
        width: 150px; }
  .pie__main_premium .whatsapp-serv {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%; }
    .pie__main_premium .whatsapp-serv div {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .pie__main_premium .whatsapp-serv div img {
        width: 150px; }

/*---------------------------------*/
/*------Main-Marketing------*/
.marketing {
  height: 1100px; }
  .marketing .carousel-inner {
    width: auto;
    height: 300px; }

/*---------------------------------*/
/*----------Main-Nosotros--*/
.contenedor-nosotros {
  height: 800px; }

.columna-nosotros {
  display: flex;
  background-color: black;
  width: auto; }

/*---------------------------------*/
/*------Main-Contacto----*/
.formulario {
  height: 800px; }

.seguinos {
  text-align: center;
  color: white;
  font-size: 20px; }

/*--------img redes-------*/
.redesSociales {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.534);
  text-align: center;
  border-radius: 20px; }
  .redesSociales .redes__img {
    width: 50px;
    height: 50px;
    margin-top: 4px; }

/*----------Grillas---------*/
.grid__generico {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "header nav nav" "main main main" "footer footer footer"; }
  .grid__generico .encabezado {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    background-color: white;
    /**/
    grid-area: header; }
  .grid__generico .navegador {
    grid-area: nav; }
  .grid__generico .principal__generico {
    background-color: beige;
    grid-area: main; }
  .grid__generico .pie__generico {
    background-color: black;
    grid-area: footer; }

.accordion-body {
  color: black; }

/*------Variables--------*/
/*------Media-Query------*/
/*--------Responsive----*/
@media screen and (max-width: 1100px) {
  .webs {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 400px) {
  .web1 {
    transform: scale(0.7); }
  .web2 {
    transform: scale(0.7); }
  .web3 {
    transform: scale(0.7); } }

@media screen and (max-width: 880px) {
  .navegador {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 1035px) {
  .servicios__ad {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 992px) {
  .grid__generico {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; } }
