/*-----Paleta-de colores---*/
/*Listas*/
/*Fuentes*/
/*---Extend---*/
.encabezado .div__title, .sub-titulo {
  display: flex;
  flex-direction: column; }

/*----------Grillas---------*/
.grid__generico {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "header nav nav" "main main main" "footer footer footer"; }
  .grid__generico .encabezado {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    background-color: white;
    /**/
    grid-area: header; }
  .grid__generico .navegador {
    grid-area: nav; }
  .grid__generico .principal__generico {
    background-color: beige;
    grid-area: main; }
  .grid__generico .pie__generico {
    background-color: black;
    grid-area: footer; }

/*------Variables--------*/
/*------Media-Query------*/
/*--------Responsive----*/
@media screen and (max-width: 1100px) {
  .webs {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 400px) {
  .web1 {
    transform: scale(0.7); }
  .web2 {
    transform: scale(0.7); }
  .web3 {
    transform: scale(0.7); } }

@media screen and (max-width: 880px) {
  .navegador {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 992px) {
  .grid__generico {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; } }

body {
  width: 100%;
  height: 80vh;
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.encabezado .div__title .acweb {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: black;
  font-size: 80px;
  margin-bottom: 5px; }

.encabezado .div__title .desa__web {
  color: black;
  text-align: left;
  text-decoration: underline;
  font-size: 15px; }

/*---------Navegador--------*/
.navegador {
  display: flex;
  align-items: flex-end; }
  .navegador .navbar-collapse {
    display: flex;
    justify-content: right; }

.button {
  text-decoration: none;
  position: absolute;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1; }

.button:hover {
  animation: ani 8s linear infinite;
  border: none; }

@keyframes ani {
  0% {
    background-position: 0%; }
  100% {
    background-position: 400%; } }

.button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s; }

.button:hover::before {
  filter: blur(20px); }

.button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4); }

/*-----Paleta-de colores---*/
/*----------Grillas---------*/
.grid__generico {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "header nav nav" "main main main" "footer footer footer"; }
  .grid__generico .encabezado {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    background-color: white;
    /**/
    grid-area: header; }
  .grid__generico .navegador {
    grid-area: nav; }
  .grid__generico .principal__generico {
    background-color: beige;
    grid-area: main; }
  .grid__generico .pie__generico {
    background-color: black;
    grid-area: footer; }

/*------Variables--------*/
/*------Media-Query------*/
/*--------Responsive----*/
@media screen and (max-width: 1100px) {
  .webs {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 400px) {
  .web1 {
    transform: scale(0.7); }
  .web2 {
    transform: scale(0.7); }
  .web3 {
    transform: scale(0.7); } }

@media screen and (max-width: 880px) {
  .navegador {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 992px) {
  .grid__generico {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; } }

/*Listas*/
/*Fuentes*/
/*---Extend---*/
.encabezado .div__title, .sub-titulo {
  display: flex;
  flex-direction: column; }

/*-------Main-Index--------*/
.sub-titulo {
  align-items: center;
  background-color: black;
  margin-bottom: 25px; }
  .sub-titulo .sub__titulo_h3 {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 20px;
    margin-bottom: 25px;
    margin-top: 25px; }
  .sub-titulo .sub__titulo_h4 {
    font-style: italic;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center; }

.web__necesitas {
  color: black;
  text-align: center;
  font-size: 35px;
  border-radius: 20px;
  margin-top: 25px;
  margin-bottom: 25px; }

/*-----Card-Index----------*/
.webs {
  display: flex;
  justify-content: space-around; }
  .webs .card {
    display: flex;
    text-align: center;
    background-color: beige;
    margin-bottom: 20px;
    border-radius: 30px 30px 0 0;
    box-shadow: 15px 15px 30px #191919, -15px -15px 30px #3c3c3c; }
    .webs .card:hover {
      transform: scale(1.05);
      transition: 2s; }

/*----------Pie-Main----------*/
.pie__main {
  height: auto;
  background-color: black;
  color: white;
  text-align: left;
  width: auto; }
  .pie__main .pie__main div h5 {
    margin-bottom: 15px;
    color: white;
    text-decoration: underline; }
  .pie__main .pie__main h5 {
    text-align: left; }

/*---------------------------------*/
/*-----------Main-Pagina-web------*/
.pagina_economica {
  text-decoration: none;
  height: 1100px; }
  .pagina_economica .plan__economico p {
    color: black;
    font-size: 20px;
    text-align: left; }
  .pagina_economica .plan__economico h3 {
    font-size: 25px;
    text-align: left; }

/*---------------------------------*/
/*------Main-Marketing------*/
.marketing {
  height: 1100px; }
  .marketing .carousel-inner {
    width: auto;
    height: 300px; }

/*---------------------------------*/
/*----------Main-Nosotros--*/
.contenedor-nosotros {
  height: 800px; }

.columna-nosotros {
  display: flex;
  background-color: black;
  width: auto; }

/*---------------------------------*/
/*------Main-Contacto----*/
.formulario {
  height: 800px; }

.seguinos {
  text-align: center;
  color: white;
  font-size: 20px; }

/*--------img redes-------*/
.redesSociales {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.534);
  text-align: center;
  border-radius: 20px; }
  .redesSociales .redes__img {
    width: 50px;
    height: 50px;
    margin-top: 4px; }

/*----------Grillas---------*/
.grid__generico {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "header nav nav" "main main main" "footer footer footer"; }
  .grid__generico .encabezado {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    background-color: white;
    /**/
    grid-area: header; }
  .grid__generico .navegador {
    grid-area: nav; }
  .grid__generico .principal__generico {
    background-color: beige;
    grid-area: main; }
  .grid__generico .pie__generico {
    background-color: black;
    grid-area: footer; }

/*------Variables--------*/
/*------Media-Query------*/
/*--------Responsive----*/
@media screen and (max-width: 1100px) {
  .webs {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 400px) {
  .web1 {
    transform: scale(0.7); }
  .web2 {
    transform: scale(0.7); }
  .web3 {
    transform: scale(0.7); } }

@media screen and (max-width: 880px) {
  .navegador {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 992px) {
  .grid__generico {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; } }
