@charset "UTF-8";
/*-----Paleta-de colores---*/
/*Listas*/
/*Fuentes*/
/*---Extend---*/
.encabezado .div__title {
  display: flex;
  flex-direction: column; }

/*----------Grillas---------*/
.grid__generico {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "header nav nav" "main main main" "footer footer footer"; }
  .grid__generico .encabezado {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    background-color: white;
    /**/
    grid-area: header; }
  .grid__generico .navegador {
    grid-area: nav; }
  .grid__generico .principal__generico {
    background-color: beige;
    grid-area: main; }
  .grid__generico .pie__generico {
    background-color: black;
    grid-area: footer; }

.accordion-body {
  color: black; }

/*------Variables--------*/
/*------Media-Query------*/
/*--------Responsive----*/
@media screen and (max-width: 800px) {
  .pie__main_premium .servicios__ad {
    display: flex;
    flex-direction: column; }
    .pie__main_premium .servicios__ad .servicio__ad__card div p {
      width: 150%; }
    .pie__main_premium .servicios__ad .servicio__ad__card div img {
      align-items: center;
      width: 100px; } }

@media screen and (max-width: 800px) and (max-width: 900px) {
  .pagina__web__contenedor {
    background-color: white; }
    .pagina__web__contenedor .pagina__web__definition {
      flex-direction: column;
      align-items: center; }
      .pagina__web__contenedor .pagina__web__definition div {
        width: 100%;
        text-align: center; }
        .pagina__web__contenedor .pagina__web__definition div .img__icon {
          width: 100%;
          align-items: center; }
          .pagina__web__contenedor .pagina__web__definition div .img__icon img {
            width: 50px;
            align-items: center; }
        .pagina__web__contenedor .pagina__web__definition div h4 {
          text-align: center;
          text-decoration: underline; }
        .pagina__web__contenedor .pagina__web__definition div p {
          font-size: 12px;
          align-items: center;
          font-weight: 600; } }

@media screen and (max-width: 800px) and (max-width: 900px) and (max-width: 800px) {
  .abono {
    height: auto; }
    .abono .abono__mensual {
      flex-direction: column; }
      .abono .abono__mensual .abono__mensual__card {
        width: 100%; }
      .abono .abono__mensual div img {
        width: 80px; } }

@media screen and (max-width: 800px) and (max-width: 500px) {
  .hero {
    height: auto; }
    .hero .text__1 h2 {
      font-size: 11px; }
    .hero .text__2 p {
      font-size: 10px; } }

@media screen and (max-width: 800px) and (max-width: 900px) {
  .hero {
    height: auto; }
    .hero .text__1 {
      width: 100%;
      font-size: 10px;
      text-align: center; }
    .hero .text__2 {
      width: 90%;
      text-align: center; } }

@media screen and (max-width: 800px) and (max-width: 900px) {
  .pagina__web__contenedor {
    flex-direction: column; }
    .pagina__web__contenedor .pagina__web__history {
      width: 1fr; }
      .pagina__web__contenedor .pagina__web__history div p {
        text-align: center;
        font-weight: 900;
        font-size: 15px; }
      .pagina__web__contenedor .pagina__web__history div h3 {
        font-size: 15px; }
      .pagina__web__contenedor .pagina__web__history div h4 {
        font-size: 15px; } }

@media screen and (max-width: 800px) and (max-width: 900px) {
  .webs {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 800px) and (max-width: 400px) {
  .web1 {
    transform: scale(0.7); }
  .web2 {
    transform: scale(0.7); }
  .web3 {
    transform: scale(0.7); } }

@media screen and (max-width: 800px) and (max-width: 880px) {
  .navegador {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 800px) and (max-width: 750px) {
  .servicios__ad {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 800px) and (max-width: 992px) {
  .grid__generico {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; } }

body {
  width: 100%;
  height: 80vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.encabezado .div__title .acweb {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: black;
  font-size: 80px;
  margin-bottom: 5px; }

.encabezado .div__title .desa__web {
  color: black;
  text-align: left;
  text-decoration: underline;
  font-size: 15px; }

/*---------Navegador--------*/
.navegador {
  display: flex;
  align-items: flex-end; }
  .navegador .navbar-collapse {
    display: flex;
    justify-content: right; }

.nav__font {
  font-size: 15px; }

/*-----Paleta-de colores---*/
/*----------Grillas---------*/
.grid__generico {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "header nav nav" "main main main" "footer footer footer"; }
  .grid__generico .encabezado {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    background-color: white;
    /**/
    grid-area: header; }
  .grid__generico .navegador {
    grid-area: nav; }
  .grid__generico .principal__generico {
    background-color: beige;
    grid-area: main; }
  .grid__generico .pie__generico {
    background-color: black;
    grid-area: footer; }

.accordion-body {
  color: black; }

/*------Variables--------*/
/*------Media-Query------*/
/*--------Responsive----*/
@media screen and (max-width: 800px) {
  .pie__main_premium .servicios__ad {
    display: flex;
    flex-direction: column; }
    .pie__main_premium .servicios__ad .servicio__ad__card div p {
      width: 150%; }
    .pie__main_premium .servicios__ad .servicio__ad__card div img {
      align-items: center;
      width: 100px; } }

@media screen and (max-width: 800px) and (max-width: 900px) {
  .pagina__web__contenedor {
    background-color: white; }
    .pagina__web__contenedor .pagina__web__definition {
      flex-direction: column;
      align-items: center; }
      .pagina__web__contenedor .pagina__web__definition div {
        width: 100%;
        text-align: center; }
        .pagina__web__contenedor .pagina__web__definition div .img__icon {
          width: 100%;
          align-items: center; }
          .pagina__web__contenedor .pagina__web__definition div .img__icon img {
            width: 50px;
            align-items: center; }
        .pagina__web__contenedor .pagina__web__definition div h4 {
          text-align: center;
          text-decoration: underline; }
        .pagina__web__contenedor .pagina__web__definition div p {
          font-size: 12px;
          align-items: center;
          font-weight: 600; } }

@media screen and (max-width: 800px) and (max-width: 900px) and (max-width: 800px) {
  .abono {
    height: auto; }
    .abono .abono__mensual {
      flex-direction: column; }
      .abono .abono__mensual .abono__mensual__card {
        width: 100%; }
      .abono .abono__mensual div img {
        width: 80px; } }

@media screen and (max-width: 800px) and (max-width: 500px) {
  .hero {
    height: auto; }
    .hero .text__1 h2 {
      font-size: 11px; }
    .hero .text__2 p {
      font-size: 10px; } }

@media screen and (max-width: 800px) and (max-width: 900px) {
  .hero {
    height: auto; }
    .hero .text__1 {
      width: 100%;
      font-size: 10px;
      text-align: center; }
    .hero .text__2 {
      width: 90%;
      text-align: center; } }

@media screen and (max-width: 800px) and (max-width: 900px) {
  .pagina__web__contenedor {
    flex-direction: column; }
    .pagina__web__contenedor .pagina__web__history {
      width: 1fr; }
      .pagina__web__contenedor .pagina__web__history div p {
        text-align: center;
        font-weight: 900;
        font-size: 15px; }
      .pagina__web__contenedor .pagina__web__history div h3 {
        font-size: 15px; }
      .pagina__web__contenedor .pagina__web__history div h4 {
        font-size: 15px; } }

@media screen and (max-width: 800px) and (max-width: 900px) {
  .webs {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 800px) and (max-width: 400px) {
  .web1 {
    transform: scale(0.7); }
  .web2 {
    transform: scale(0.7); }
  .web3 {
    transform: scale(0.7); } }

@media screen and (max-width: 800px) and (max-width: 880px) {
  .navegador {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 800px) and (max-width: 750px) {
  .servicios__ad {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 800px) and (max-width: 992px) {
  .grid__generico {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; } }

/*Listas*/
/*Fuentes*/
/*---Extend---*/
.encabezado .div__title {
  display: flex;
  flex-direction: column; }

/*-------Main-Index--------*/
.hero {
  background-image: url("../img/herosection2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .hero .text__1 {
    color: white;
    width: 50%;
    font-style: italic;
    font-size: 30px;
    font-weight: 900;
    margin-left: 15px;
    margin-bottom: 25px; }
  .hero .text__2 {
    width: 50%;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-left: 15px; }

.pagina__web__contenedor {
  height: auto;
  background-color: white; }
  .pagina__web__contenedor .pagina__web__definition {
    display: flex;
    padding-top: 15px; }
    .pagina__web__contenedor .pagina__web__definition div {
      display: flex;
      flex-direction: column;
      width: fit-content;
      height: fit-content; }
      .pagina__web__contenedor .pagina__web__definition div .img__icon {
        width: 100%;
        align-items: center; }
        .pagina__web__contenedor .pagina__web__definition div .img__icon img {
          width: 50px;
          align-items: center; }
      .pagina__web__contenedor .pagina__web__definition div h4 {
        text-align: center;
        text-decoration: underline; }
      .pagina__web__contenedor .pagina__web__definition div p {
        font-size: 12px;
        align-items: center;
        padding: 0 12px 0 10px; }

.web__necesitas {
  color: black;
  text-align: center;
  font-size: 35px;
  border-radius: 20px;
  margin-top: 25px;
  margin-bottom: 25px; }

/*-----Card-Index----------*/
.webs {
  display: flex;
  justify-content: space-around; }
  .webs .card {
    display: flex;
    text-align: center;
    background-color: beige;
    margin-bottom: 20px;
    border-radius: 30px 30px 0 0;
    box-shadow: 15px 15px 30px #191919, -15px -15px 30px #3c3c3c; }
    .webs .card:hover {
      transform: scale(1.05);
      transition: 2s; }

/*----------Pie-Main-Index---------*/
.pie__main {
  height: auto;
  background-color: white;
  color: white;
  text-align: left;
  width: auto; }
  .pie__main .preguntas__frecuentes h5 {
    margin-bottom: 20px;
    color: black;
    text-align: left;
    margin-left: 5px; }

/*-----------Main-Planes------*/
.informacion {
  display: flex;
  justify-content: space-around; }
  .informacion div {
    width: 150px;
    height: 70px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 25px;
    margin-top: 100px;
    margin-bottom: 50px; }

.paginas__planes {
  text-decoration: none; }
  .paginas__planes .diseño__web {
    text-align: center;
    margin-bottom: 20px; }
  .paginas__planes img {
    width: 30px; }
  .paginas__planes .planes section {
    display: flex; }
    .paginas__planes .planes section .planes section div h3 {
      font-size: 30px;
      text-align: left; }

/*------Servicios-Extras----*/
.pie__main_premium {
  height: auto; }
  .pie__main_premium section {
    width: 100%; }
    .pie__main_premium section p {
      text-align: center;
      text-decoration: underline;
      font-weight: bold;
      font-size: 20px; }
    .pie__main_premium section h4 {
      text-align: center;
      text-decoration: underline; }
  .pie__main_premium .servicios__ad {
    display: flex;
    flex-direction: row; }
    .pie__main_premium .servicios__ad .servicio__ad__card {
      width: 33.3%; }
      .pie__main_premium .servicios__ad .servicio__ad__card div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; }
      .pie__main_premium .servicios__ad .servicio__ad__card h5 {
        width: 80%;
        text-align: center; }
      .pie__main_premium .servicios__ad .servicio__ad__card p {
        width: 50%; }
      .pie__main_premium .servicios__ad .servicio__ad__card img {
        align-items: center;
        width: 100px; }

/*---------Abono-Mensual-------*/
.abono {
  height: auto; }
  .abono section {
    width: 100%; }
    .abono section p {
      text-align: center;
      text-decoration: underline;
      font-weight: bold;
      font-size: 20px; }
  .abono .abono__mensual {
    display: flex;
    justify-content: center; }
    .abono .abono__mensual .abono__mensual__card {
      display: flex;
      flex-direction: row;
      width: 80%; }
      .abono .abono__mensual .abono__mensual__card div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; }
        .abono .abono__mensual .abono__mensual__card div p {
          text-align: center;
          width: 50%; }
        .abono .abono__mensual .abono__mensual__card div img {
          width: 100px; }

/*---------------------------------*/
/*------Main-Marketing------*/
.marketing {
  height: 1100px; }
  .marketing .carousel-inner {
    width: auto;
    height: 300px; }

/*---------------------------------*/
/*----------Main-Nosotros--*/
.contenedor-nosotros {
  height: 800px; }

.columna-nosotros {
  display: flex;
  background-color: black;
  width: auto; }

/*---------------------------------*/
/*------Main-Contacto----*/
.formulario {
  height: 800px; }

.seguinos {
  text-align: center;
  color: white;
  font-size: 20px; }

/*--------img redes-------*/
.redesSociales {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.534);
  text-align: center;
  border-radius: 20px; }
  .redesSociales .redes__img {
    width: 50px;
    height: 50px;
    margin-top: 4px; }

/*----------Grillas---------*/
.grid__generico {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "header nav nav" "main main main" "footer footer footer"; }
  .grid__generico .encabezado {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    background-color: white;
    /**/
    grid-area: header; }
  .grid__generico .navegador {
    grid-area: nav; }
  .grid__generico .principal__generico {
    background-color: beige;
    grid-area: main; }
  .grid__generico .pie__generico {
    background-color: black;
    grid-area: footer; }

.accordion-body {
  color: black; }

/*------Variables--------*/
/*------Media-Query------*/
/*--------Responsive----*/
@media screen and (max-width: 800px) {
  .pie__main_premium .servicios__ad {
    display: flex;
    flex-direction: column; }
    .pie__main_premium .servicios__ad .servicio__ad__card div p {
      width: 150%; }
    .pie__main_premium .servicios__ad .servicio__ad__card div img {
      align-items: center;
      width: 100px; } }

@media screen and (max-width: 800px) and (max-width: 900px) {
  .pagina__web__contenedor {
    background-color: white; }
    .pagina__web__contenedor .pagina__web__definition {
      flex-direction: column;
      align-items: center; }
      .pagina__web__contenedor .pagina__web__definition div {
        width: 100%;
        text-align: center; }
        .pagina__web__contenedor .pagina__web__definition div .img__icon {
          width: 100%;
          align-items: center; }
          .pagina__web__contenedor .pagina__web__definition div .img__icon img {
            width: 50px;
            align-items: center; }
        .pagina__web__contenedor .pagina__web__definition div h4 {
          text-align: center;
          text-decoration: underline; }
        .pagina__web__contenedor .pagina__web__definition div p {
          font-size: 12px;
          align-items: center;
          font-weight: 600; } }

@media screen and (max-width: 800px) and (max-width: 900px) and (max-width: 800px) {
  .abono {
    height: auto; }
    .abono .abono__mensual {
      flex-direction: column; }
      .abono .abono__mensual .abono__mensual__card {
        width: 100%; }
      .abono .abono__mensual div img {
        width: 80px; } }

@media screen and (max-width: 800px) and (max-width: 500px) {
  .hero {
    height: auto; }
    .hero .text__1 h2 {
      font-size: 11px; }
    .hero .text__2 p {
      font-size: 10px; } }

@media screen and (max-width: 800px) and (max-width: 900px) {
  .hero {
    height: auto; }
    .hero .text__1 {
      width: 100%;
      font-size: 10px;
      text-align: center; }
    .hero .text__2 {
      width: 90%;
      text-align: center; } }

@media screen and (max-width: 800px) and (max-width: 900px) {
  .pagina__web__contenedor {
    flex-direction: column; }
    .pagina__web__contenedor .pagina__web__history {
      width: 1fr; }
      .pagina__web__contenedor .pagina__web__history div p {
        text-align: center;
        font-weight: 900;
        font-size: 15px; }
      .pagina__web__contenedor .pagina__web__history div h3 {
        font-size: 15px; }
      .pagina__web__contenedor .pagina__web__history div h4 {
        font-size: 15px; } }

@media screen and (max-width: 800px) and (max-width: 900px) {
  .webs {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 800px) and (max-width: 400px) {
  .web1 {
    transform: scale(0.7); }
  .web2 {
    transform: scale(0.7); }
  .web3 {
    transform: scale(0.7); } }

@media screen and (max-width: 800px) and (max-width: 880px) {
  .navegador {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 800px) and (max-width: 750px) {
  .servicios__ad {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 800px) and (max-width: 992px) {
  .grid__generico {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; } }

.collapse:not(.show) {
  display: none; }

.collapsing {
  height: 0;
  overflow: hidden; }
