@import "../base/maps";
@import"../base/variables";
@import "../base/generales";
@import "../base/mixins";



body {
    width: 100%;
    height: 80vh;
    background-image: url("/img/background-wall.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.encabezado {
    .div__title {
        @extend %flex;

        .acweb {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: map-get($background, bg-encabezado);
            text-align: center;
            color: $color-fuentes;
            font-size: 80px;
            margin-bottom: 5px;
        }

        .desa__web {
            color: $color-fuentes;
            text-align: left;
            text-decoration: underline;
            font-size: 15px;

        }
    }
}

/*---------Navegador--------*/
.navegador {
    @include flex(flex,flex-end);
    

    .navbar-collapse {
        display: flex;
        justify-content: right;
    }
}
.nav__font{
    font-size: 15px;

}

