@import "../base/maps";
@import "../base/generales";
@import "../base/variables";

/*-------Main-Index--------*/
.hero {
    background-image: url("../img/herosection2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .text__1 {
        color: white;
        width: 50%;
        font-style: italic;
        font-size: 30px;
        font-weight: 900;
        margin-left: 15px;
        margin-bottom: 25px;
    }
    .text__2 {
        width: 50%;
        color: white;
        font-weight: 600;
        font-size: 20px;
        margin-left: 15px;
    }
}
.img__icon{
    
    
    
}
.pagina__web__contenedor {   
    height: auto;
    
    background-color: white;    
    .pagina__web__definition { 
        display: flex;        
        padding-top: 15px;        
        div {
            display: flex;
            flex-direction: column;
            width: fit-content;
            height: fit-content;
                .img__icon{
                    width: 100%;
                    align-items: center;
                    img{
                        width: 50px;
                        align-items: center;
                    }                   
                }
                h4{
                    text-align: center;
                    text-decoration: underline;
                    
                }
                p {
                font-size: 12px;
                align-items: center;
                padding: 0 12px 0 10px;
            }              
            }
        }

    }

.web__necesitas {
    color: $color-fuentes;
    text-align: center;
    font-size: 35px;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*-----Card-Index----------*/
.webs {
    display: flex;
    justify-content: space-around;

    .card {
        display: flex;
        text-align: center;
        background-color: map-get($background, bg-card);
        margin-bottom: 20px;
        border-radius: 30px 30px 0 0;
        box-shadow: 15px 15px 30px rgb(25, 25, 25),
            -15px -15px 30px rgb(60, 60, 60);

        &:hover {
            transform: scale(1.05);
            transition: 2s;
        }
    }
}

/*----------Pie-Main-Index---------*/
.pie__main {
    height: auto;
    background-color: map-get($background, bg-pie-main);
    color: white;
    text-align: left;
    width: auto;
    .preguntas__frecuentes h5 {
        margin-bottom: 20px;
        color: black;
        text-align: left;
        margin-left: 5px;
    }
}
/*-----------Main-Planes------*/
.informacion {
    display: flex;
    justify-content: space-around;
    div {
        width: 150px;
        height: 70px;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 25px;
        margin-top: 100px;
        margin-bottom: 50px;
    }
}
.paginas__planes {
    text-decoration: none;
    .diseño__web {
        text-align: center;
        margin-bottom: 20px;
    }
    img {
        width: 30px;
    }
    .planes section {
        display: flex;
        .planes section div h3 {
            font-size: 30px;
            text-align: left;
        }
    }
}
/*------Servicios-Extras----*/
.pie__main_premium {
    height: auto;    
    section {
        width: 100%;
        p {
            text-align: center;
            text-decoration: underline;
            font-weight: bold;
            font-size: 20px;
            
            }
        h4 {
            text-align: center;
            text-decoration: underline;
            
        }
    }
    .servicios__ad {
        display: flex;
        flex-direction: row;
        
        
        .servicio__ad__card {
            width: 33.3%;            
            div {
                display: flex;
                flex-direction: column;
                align-items: center;                
                width: 100%;} 
                h5{
                    width: 80%;
                    text-align: center;
                }
                p {                  
                    width: 50%;
                }
                img {
                    align-items: center;
                    width: 100px;
                }
            }
        }
    }


/*---------Abono-Mensual-------*/
.abono {
    height: auto;
    section {
        width: 100%;
        p {
            text-align: center;
            text-decoration: underline;
            font-weight: bold;
            font-size: 20px;
        }
    }
    .abono__mensual {
        display: flex;
        justify-content: center;
        .abono__mensual__card {
            display: flex;
            flex-direction: row;
            width: 80%;
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                p{  text-align: center;
                    width: 50%;
                }
                img {
                    width: 100px;
                }
            }
        }
    }
}

/*---------------------------------*/
/*------Main-Marketing------*/
.marketing {
    height: 1100px;
    .carousel-inner {
        width: auto;
        height: 300px;
    }
}

/*---------------------------------*/
/*----------Main-Nosotros--*/
.contenedor-nosotros {
    height: 800px;

}

.columna-nosotros {
    display: flex;
    background-color: black;
    width: auto;
}

/*---------------------------------*/
/*------Main-Contacto----*/

.formulario {
    height: 800px;
}